h1{
    color: #0fe4e4;
}
*{
background-color: #64a1a3;
color: #05058f;
border: solid;
}    

.header{
    background-color: #cc7d7d; 
    display:flex;
    justify-content: space-between;

}
.item{
    background-color: #008080
   
    
}
.footer{
    background-color: #8a5bdb
}